{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
  <div class='col-sm-4 col-sm-offset-4 well'>
    <h2 class="text-center">{{question.title}}</h2>
    <p>{{question.description}}</p>
    <br>
    {{form_start(form)}}
      <div class="form-group">
        {{form_label(form.choices)}}
        {{form_widget(form.choices, {'attr':{'class':'form-control'}})}}
      </div><!-- end form-group-->
      <div class ="form-group text-center">
        <input type="submit" value="Vote" class="btn btn-primary btn-block"  />
      </div><!-- end form-group-->
      {{form_end(form)}}
   </div><!-- end col-sm-4 -->
</div><!-- end row-->
{% endblock %}
